@import url("__title/education__title.css");
@import url("__school/education__school.css");
@import url("__school-name/education__school-name.css");
@import url("__date/education__date.css");
@import url("__spec/education__spec.css");
@import url("__wrapper/education__wrapper.css");

.education {
  width: 100%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .education {
    max-width: 100%;
  }
}
